<div *ngIf="mostrarError" class="alert alert-dismissible alert-danger">
    <div class="text-center">
        <strong>ERROR AL OBTENER EL CLIMA!</strong>
    </div>
  </div>
<div class="container pt-4">
    <div class="row">
        <div class="col-lg-4">
           <img [src]="urlImagen" alt="img clima" width="300px" height="300px">
        </div>
        <div class="col-lg-6">
            <input type="text" (keyup.enter)="obtenerClima()" [(ngModel)]="ciudad" class="form-control form-control-lg size" placeholder="Ingrese una ciudad">
            <button  (click)="obtenerClima()" [disabled]="ciudad === ''" class="btn btn-primary btn-block btn-lg mt-4 size">OBTENER CLIMA</button>
            <div *ngIf="loading" class="text-center mt-3">
                <div class="spinner-grow text-primary" role="status"></div>
            <div class="spinner-grow text-primary" role="status"></div>
            <div class="spinner-grow text-primary" role="status"></div>
            </div>
            <div *ngIf="query" class="card mt-3">
                <div class="card-body">
                    <p><b>Temperatura: </b>{{temperatura | number: '1.2-2' }}°C</p>
                    <p><b>Humedad: </b>{{humedad}}</p>
                    <p><b>Clima: </b>{{clima}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
